* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* Reset CSS */
p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

/* ------------------- */
/* ----- < 768px ----- */
/* ------ MOBILE ----- */
/* ------------------- */

/* Utilities */
.fill-button {
  width: 140px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.05em;
  border-radius: 2px;
  background-color: #3040c4;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040c4;
}

.fill-button:hover {
  opacity: 0.5;
}

/* LANDING SECTION */
.landing {
  text-align: center;
  background-color: #fdded8;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .fill-button:first-child {
  margin-right: 8px;
}

/* SERVICE SECTION */
.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service .section-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* PROGRAM SECTION */
.program-section {
  padding: 80px 0;
}

.program-section .section-category {
  display: inline-block;
  margin-bottom: 8px;
  color: #009b4d;
}

.program-section .section-title {
  font-size: 34px;
  line-height: 1.0588235294;
  margin-bottom: 24px;
}

.program-section .section-desc {
  margin-bottom: 32px;
}

.program-section .program-card {
  width: 290px;
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.program-card img {
  width: 50%;
  height: auto;
}

.program-card h2 {
  font-size: 18px;
  line-height: 1.3333333333;
  letter-spacing: 0.02em;
}

/* -------------------- */
/* ----- >= 768px ----- */
/* ------ DESKTOP ----- */
/* -------------------- */

@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  /* Utilities */
  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
  }

  /* LANDING SECTION */
  .landing-content {
    height: auto;
    padding: 120px;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing-desc {
    line-height: 1.4545454545;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
  }

  .landing .fill-button:first-child {
    margin-right: 16px;
  }

  /* SERVICE SECTION */
  .service .section-title {
    font-size: 26px;
    line-height: 1.3076923077;
  }

  .service .section-desc {
    font-size: 22px;
    line-height: 1.4545454545;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }
}
